:root {
  --border-radius-xs: 0.25rem;
  --border-radius-sm: 0.5rem;
  --border-radius: 1rem;

  --container-max-width: 800px;
  --container-horizontal-spacing: 1.5rem;
  --container-vertical-spacing: 3rem;

  --font-sans: 'Noto Sans', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #334155;
  --gray-800: #1e293b;
  --gray-900: #0f172a;
  --gray-950: #020617;

  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-700: #1d4ed8;
  --blue-900: #1e3a8a;

  --red-50: #fef2f2;
  --red-200: #fecaca;
  --red-700: #991b1b;

  --green-700: #15803d;

  --box-shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

body {
  background-image: linear-gradient(
    0deg,
    hsl(0deg 0% 100%) 0%,
    hsl(220deg 14% 100%) 8%,
    hsl(220deg 14% 99%) 17%,
    hsl(220deg 14% 99%) 25%,
    hsl(220deg 14% 99%) 33%,
    hsl(220deg 14% 98%) 42%,
    hsl(220deg 14% 98%) 50%,
    hsl(220deg 14% 98%) 58%,
    hsl(220deg 14% 97%) 67%,
    hsl(220deg 14% 97%) 75%,
    hsl(220deg 14% 97%) 83%,
    hsl(220deg 14% 96%) 92%,
    hsl(220deg 14% 96%) 100%
  );
  color: var(--gray-700);
  font-family: var(--font-sans);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--gray-900);
  font-weight: 500;
}

.no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.view {
  padding: var(--container-vertical-spacing) var(--container-horizontal-spacing);
}

.container-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-max-width);
}

.cover {
  align-self: flex-start;
  aspect-ratio: 1/1;
  background-color: var(--gray-100);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow-md);
  min-width: 100px;
  overflow: hidden;
}

/* Estilos relacionados a botões e call-to-actions */
.cta {
  align-items: center;
  background-color: var(--gray-100);
  border: 0;
  border-radius: var(--border-radius-xs);
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.cta:hover {
  background-color: var(--gray-200);
}

.cta--button {
  padding: 0.5rem 1rem;
}

.cta--primary {
  color: #ffffff;
  background-color: var(--blue-700);
}

.cta--primary:hover {
  background-color: var(--blue-900);
}

.cta-icon {
  width: 20px;
}

.cta--only-icon {
  background-color: var(--gray-50);
  padding: 0.5rem;
}

.cta--only-icon:hover {
  background-color: var(--gray-200);
}

.cta--edit:hover {
  background-color: var(--blue-200);
}

.cta--delete:hover {
  background-color: var(--red-200);
}

/* Estilos para o profile */
.podcast-profile {
  display: flex;
  gap: var(--container-horizontal-spacing);
}

.podcast-profile__cover {
  flex: 1;
}

.podcast-profile__info {
  flex: 2;
}

.podcast-profile__title {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.podcast-profile__author {
  background-color: var(--blue-100);
  border-radius: var(--border-radius-xs);
  display: inline-flex;
  font-weight: 600;
  line-height: 1;
  margin: 0.5rem 0 0 0;
  padding: 0.25rem 0.5rem;
}

.podcast-profile__description {
  border-top: solid 1px var(--gray-200);
  padding: 1rem 0 0 0;
  margin: 1.5rem 0 0 0;
}

.podcast-profile-empty {
  background-color: #ffffff;
  border: dashed 1px var(--gray-300);
  border-radius: var(--border-radius);
  padding: 1.5rem;
  text-align: center;
  width: 100%;
}

/* Estilos para listagem */
.episodios {
  margin: 5rem 0 0 0;
}

.episodios__header {
  display: flex;
  gap: var(--container-horizontal-spacing);
}

.episodios__list {
  display: flex;
  gap: var(--container-horizontal-spacing);
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1.5rem 0 0 0;
}

.episodios__item {
  background: #ffffff;
  border: solid 1px var(--gray-200);
  border-radius: var(--border-radius-sm);
  display: flex;
  flex-direction: column;
  gap: var(--container-horizontal-spacing);
  padding: var(--container-horizontal-spacing);
  width: 100%;
}

.episodios-item__main {
  display: flex;
  gap: var(--container-horizontal-spacing);
}

.episodios-item__cover {
  flex: 1;
}

.episodios-item__info {
  flex: 4;
}

.episodios-item__header {
  align-items: center;
  display: flex;
  gap: var(--container-horizontal-spacing);
  justify-content: space-between;
}

.episodios-item__actions {
  display: flex;
  flex-shrink: 0;
  gap: 0.25rem;
}

.episodios-item__actions .cta-icon,
.episodios-item__actions svg {
  pointer-events: none;
}

.episodios-item__description {
  border-top: solid 1px var(--gray-200);
  margin: 1rem 0 0 0;
  padding: 1rem 0 0 0;
}

.episodios-item__audio-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.episodios-item__caption {
  color: var(--gray-500);
  font-size: 0.75rem;
  line-height: 1rem;
}

.episodios-item__player {
  display: flex;
  width: 100%;
}

/* Estilos do modal */
.body--dialog-open {
  overflow: hidden;
}

.dialog-root {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1px);
}

.body--dialog-open .dialog-root {
  display: flex;
}

.dialog {
  max-width: 600px;
  width: calc(100% - (var(--container-horizontal-spacing) * 2));
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: var(--box-shadow-md);
  border-radius: var(--border-radius-sm);
  border: 0;
  padding: var(--container-horizontal-spacing);
  max-height: calc(100vh - 10%);
  display: none;
  flex-direction: column;
}

.dialog--is-open {
  display: flex;
}

.dialog--error .dialog-header__title {
  color: var(--red-700);
}

.dialog--success .dialog-header__title {
  color: var(--green-700);
}

.dialog__header {
  align-items: center;
  display: flex;
  gap: var(--container-horizontal-spacing);
  justify-content: space-between;
}

.dialog-header__title {
  font-weight: 600;
}

.dialog-header__close svg {
  pointer-events: none;
}

.dialog__footer {
  border-top: solid 1px var(--gray-200);
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin: var(--container-horizontal-spacing) 0 0 0;
  padding: var(--container-horizontal-spacing) 0 0 0;
}

.dialog__content {
  margin: 1rem 0 0 0;
  overflow: auto;
}

/* Form styles */
.form {
  width: 100%;
}

.form > * + * {
  margin: 1rem 0 0 0;
}

.form label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: block;
  width: 100%;
}

.form__label--is-required {
  color: var(--red-700);
  font-weight: 600;
}

.form input,
.form textarea {
  background: var(--gray-50);
  border: solid 1px var(--gray-300);
  border-radius: var(--border-radius-sm);
  color: var(--gray-900);
  padding: 0.75rem;
  width: 100%;
}

.form * + input,
.form * + textarea {
  margin-top: 0.25rem;
}

.form__erros {
  color: var(--red-700);
  font-size: 12px;
  padding: 0 0 0 1.5em;
}

.form__erros:has(li) {
  margin: 1.5rem 0 0 0;
}
